/* -------- PREMIUM SCROLLBAR -------- */
::-webkit-scrollbar {
  width: 8px; /* largeur du scroll vertical */
  height: 8px; /* hauteur du scroll horizontal */
}

/* Couleur de fond de la zone de défilement */
::-webkit-scrollbar-track {
  background: #0f0f0f; /* couleur du fond */
  border-radius: 10px;
}

/* Partie mobile du scroll */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #efd10ba7, #efd10ba7); /* dégradé violet */
  border-radius: 10px;
}

/* Effet au survol */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #efd10ba7, #efd10ba7);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #efd10ba7 #0f0f0f;
}
.ant-empty-description {
      color: rgba(192, 187, 187, 0.773);
}